@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

#app {
  transition: 0.7s;
}

#app .dark {
  background-color: #26184e;
  color: #cfc5ed;
}

#app .light {
  background-color: #f8f9fa;
  color: #5f3dc4;
}