@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

#app {
  transition: 0.7s;
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
  color: #313131;

  .section-divider {
    margin: 1rem 5rem;
  }

  &.dark {
    background-color: #181818;
    color: #dddddd;
  }
}