@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

:root {
  margin: 0.65rem;
  background-color: rgb(241, 232, 226);
}

:root.light {
  background-color: rgb(241, 232, 226);
}

:root.dark {
  background-color: #0b0b0b;
}